body {
    margin: 0 auto;
    padding: 0 auto;
    background-color: white;
    color: black;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

.barre_entete {
    background-color: rgb(206, 67, 118);
    padding: 5px;
}

.barre_entete h1 {
    font-size: small;
    color: white;
    font-family: "Playwrite AU VIC", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.barre_entete a {
    text-decoration: none;
}

.Link_barrre {
    float: right;
}

/*********************************************header caroussel***********************************/
header {
    text-align: center;
    padding: 50px;
    padding-bottom: 100px;
    overflow: hidden;
    background-image: url("album/fond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    word-wrap: break-word;
    background-position: center;
}

header h2 {
    font-size: 70px;
    color: white;
    padding-top: 40px;
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "wdth"100;
}

header p {
    font-size: 15px;
    color: white;
    font-weight: bold;
}

header h3 {
    color: white;
    font-size: 30px;
}

/******************************main*************************/
main {
    margin: 0 auto;
    width: 95%;
    margin-top: 100px;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
}

main h2 {
    font-size: 70px;
    word-wrap: break-word;
    color: rgb(206, 67, 118);
    color: black;
}

main p {
    display: none;
}

/*
.decoTexte {
border-bottom: 5px solid rgb(206, 67, 118);
color: rgb(75, 115, 167);
}*/

main p {
    text-align: justify;
}

/********************************section********************************************/
section {
    margin: 0 auto;
    width: 95%;
    margin-top: 100px;
    padding: 10px;
}

.boxService {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.boxService div {
    box-shadow: 0px 0px 10px gainsboro;
    padding: 20px;
    flex-basis: 40%;
    border-radius: 10px;
    margin-top: 20px;
    background-color: white;
    border-bottom: 3px solid rgb(75, 115, 167);
    transition: ease-in-out 0.5s;
}

.boxService div:hover {
    background-color: rgba(214, 210, 210, 0.2);
    cursor: pointer;
}

.boxService div i {
    font-size: 50px;
}

.boxService div h5 {
    font-size: 30px;
}

.serTitCol {
    color: rgb(206, 67, 118);
}

.serTitColB {
    color: rgb(75, 115, 167);
}

.boxService div p {
    text-align: justify;
}

/**************************baniere image ****************/
.banniere {
    margin-top: 150px;
    padding: 50px;
    background-image: url("album/homme2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    transition: ease-in-out 0.5s;
}

.JsimageBg {
    transition: ease-in-out 0.5s;
    background-image: url("album/nubelson-fernandes-UcYBL5V0xWQ-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

.Boxbaniere {
    width: 700px;
}

.Boxbaniere h5 {
    color: white;
    font-size: 30px;
}

.Boxbaniere p {
    color: white;
}

.Boxbaniere a {
    color: white;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: 0.5s;
}

.Boxbaniere a:hover {
    font-weight: bold;
    transition: 0.5s;
}

/**************************article********************************/
article {
    margin: auto;
    width: 95%;
    margin-top: 100px
}

.Boxarticle {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Boxarticle div {
    box-shadow: 0px 0px 5px gainsboro;
    padding: 18px;
    flex-basis: 40%;
    margin-top: 20px;
    border-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 5px solid rgb(206, 67, 118);
    transition: ease-in-out 0.5s;
}

.Boxarticle div:hover {
    cursor: pointer;
    position: relative;
    bottom: 10px;
    background-color: gainsboro;
    transition: ease-in-out 0.5s;
}

.Boxarticle div i {
    font-size: 40px;
}

.Boxarticle div h5 {
    font-size: 30px;
}

.Boxarticle div a {
    color: rgb(206, 67, 118);
    text-decoration: none;
    transition: 0.5s;
}

.Boxarticle div a:hover {
    font-weight: bold;
    transition: 0.5s;
}

.Boxarticle div p {
    text-align: justify;
}

/***************************equipe*******************************/
.equipe {
    margin-top: 150px;
    background-color: black;
    background-color: gray;
    padding: 10px;
    padding-bottom: 100px;
}

.equipe h3 {
    text-align: center;
    color: white;
    font-size: 30px;
}

.contenaireEquipe {
    margin: auto;
    width: 95%;
    display: flex;
    justify-content: space-around;
}

.contenaireEquipe div {
    flex-basis: 20%;
    margin-top: 50px;
    text-align: center;
}

.contenaireEquipe div img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
}

.contenaireEquipe div h5 {
    font-size: 20px;
    color: white;
}

.contenaireEquipe div h6 {
    font-size: 15px;
    color: white;
}

/***************************contactez-nous-----------------*/
.contact {
    margin: 0 auto;
    margin-top: 150px;
    width: 95%;
}

.contact h4 {
    text-align: center;
    color: rgb(206, 67, 118);
    font-size: 30px;
}

form {
    margin: auto;
    width: 900px;
}

form fieldset {
    border: 1px solid black;
    border: none;
}

form legend {
    color: rgb(206, 67, 118);
    font-weight: bold;
    font-size: 25px;
    display: none;
}

form label {
    color: gray;
}

form input {
    width: 45%;
    height: 35px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: whitesmoke;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    outline-color: rgb(206, 67, 118);
}

form ::-webkit-input-placeholder {
    opacity: 0.5;
}

form textarea {
    width: 92%;
    height: 150px;
    padding: 5px;
    border-radius: 5px;
    outline-color: rgb(206, 67, 118);
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    border: 2px solid gray;
    background-color: whitesmoke;
    border: none;
}

form button {
    width: 30%;
    height: 40px;
    border: none;
    color: white;
    background-color: rgb(206, 67, 118);
    transition: 0.5s;
}

form button:hover {
    height: 50px;
    transition: 0.5s;
}

/*******************************footer****************************************/
footer {
    margin-top: 200px;
    background-color: gray;
    padding: 20px;
    color: white;
}

.footerContenaire {
    display: flex;
    justify-content: space-around;
}

.footerContenaire div {
    margin-top: 20px;
    flex-basis: 20%;
}

.footerContenaire div h4 {
    text-transform: uppercase;
    color: white;
    font-size: 25px;
}

.footerContenaire div ul {
    list-style-type: none;
}

.footerContenaire div ul li {
    padding-top: 10px;
    padding-left: 20px;
    display: inline-block;
    transition: ease-in-out 0.5s;
}

.footerContenaire div ul li a {
    text-decoration: none;
    color: black;
    color: white;
}

.footerContenaire div ul li a i {
    font-size: 20px
}

.copy {
    font-size: xx-small;
    text-align: right;
}

/***********************media**************/
@media screen and (max-width:1100px) {
    .boxService {
        flex-wrap: wrap;
    }

    .boxService div {
        flex-basis: 40%;
        margin-top: 30px;
    }

    .Boxbaniere {
        width: 90%;
    }

    .Boxarticle {
        flex-wrap: wrap;
    }

    .Boxarticle div {
        flex-basis: 40%;
        margin-top: 30px;
    }

    .contenaireEquipe {
        flex-wrap: wrap;
    }

    .contenaireEquipe div {
        flex-basis: 40%;
    }

    form {
        width: 700px;
    }

    .footerContenaire {
        flex-wrap: wrap;
    }

    .footerContenaire div {
        flex-basis: 40%;
    }
}

@media screen and (max-width:700px) {
    header {
        text-align: center;
        padding: 20px;
    }

    header h2 {
        font-size: 55px;
        color: white;
        padding-top: 30px;
    }

    main {
        margin-top: 50px
    }

    main h2 {
        font-size: 50px;
    }

    section {
        margin-top: 50px;
    }

    .boxService div {
        flex-basis: 80%;
    }

    .banniere {
        margin-top: 100px;
        padding: 30px;
    }

    .Boxbaniere {
        width: 100%;
    }

    .Boxarticle div {
        flex-basis: 80%;
    }

    .footerContenaire div {
        flex-basis: 100%;
    }

    .equipe {
        margin-top: 100px;
    }

    .contenaireEquipe div {
        flex-basis: 80%;
    }

    .contact {
        margin-top: 100px;
    }

    form {
        width: 90%;
    }

    form textarea {
        width: 95%;
        height: 150px;
    }
}