body {
    margin: 0 auto;
    padding: 0 auto;
    background-color: white;
    color: black;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.barre_entete {
    background-color: rgb(206, 67, 118);
    padding: 15px;
}

.barre_entete h1 {
    font-size: small;
    color: white;
    text-transform: uppercase;
}

.barre_entete a {
    text-decoration: none;
}

.barre_entete a img {
    width: 100px;
    transition: 0.5s;
}

.barre_entete a img:hover {
    width: 110px;
}

.Link_barrre {
    float: right;
}

/*********************************************header caroussel***********************************/
header {
    text-align: center;
    padding: 50px;
    padding-bottom: 100px;
    overflow: hidden;
    background-image: url("album/fond.jpg");
    background: linear-gradient(to bottom, transparent, mistyrose), url("album/fond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    word-wrap: break-word;
    background-position: center;
}

header h2 {
    font-size: 60px;
    color: white;
    padding-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header p {
    color: rgb(206, 67, 118);
}

header h3 {
    color: white;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header a {
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    transition: ease-in-out 0.5s;
}

header a:hover {
    letter-spacing: 2px;
}

/*******************************************************/
main {
    margin-top: 50px;
    padding: 10px;
    margin-bottom: 200px;
}

main h2,
h6 {
    text-align: center;
    text-transform: uppercase;
}

.main_contenaire {
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main_contenaire div {
    margin-top: 50px;
    flex-basis: 20%;
    padding: 10px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px whitesmoke;
    border-radius: 10px;
    transition: ease-in-out 0.5s;
}

.main_contenaire div:hover {
    box-shadow: 0px 0px 10px mistyrose;
}

.main_contenaire div img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    transition: ease-in-out 0.5s;
}

.main_contenaire div p {
    text-align: justify;
}

.main_contenaire div a {
    text-decoration: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    background-color: inherit;
    color: rgb(206, 67, 118);
    border: 1px solid rgb(206, 67, 118);
    transition: ease-in-out 0.5s;
}

.main_contenaire div a:hover {
    border: none;
    background-color: rgb(206, 67, 118);
    color: white;
    letter-spacing: 5px;
}



@media screen and (max-width:1250px) {
    .main_contenaire div {
        flex-basis: 40%;
    }
}

@media screen and (max-width:700px) {
    header {
        text-align: center;
        padding: 20px;
    }

    .main_contenaire div {
        flex-basis: 80%;
    }
}